doctype html
html
  head
    title JGF - #{title}
    block scripts
    block style 

  body
    block nav
        navbar#navbar
            div#logo
                div#img 
                div.brand JGF
            ul 
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
                li #[a(href="/contact") Contact us]
    block content
    block foot
      #footer
        footer#copyrights 
                div Copyright © @jayeshgymandfitness.com||All rights reserved