doctype html
html
  head
    title JGF - #{title}
    block scripts
    block style
      link(rel='stylesheet', href='../static/style.css')

  body
    block nav
        navbar#navbar
            div#logo
                div#img 
                div.brand JGF
            ul 
                li #[a(href="/") Home]
                li #[a(href="/#missionsection") About]
                li #[a(href="/#cardsec") Services]
                li #[a(href="/contact") Contact us]
    block content
    block foot
      #footer
        footer#copyrights 
                div Copyright © @jayeshgymandfitness.com||All rights reserved
