extends base.pug

block scripts
block style 
    style 
        include ../static/style.css 


block content
        section#introsection 
            div.heading Welcome to Jayesh Gym And Fitness 
            div.short Eat Sleep Exercise Repeat...
        section#missionsection
            h1 Our Mission
            div#cardsec
                div.card#c1 
                     h2 Good equipments
                     img(src='/static/images/equip.png', alt='login', style='')
                div.card#c2
                    h2  Qualified Trainers
                     img(src='/static/images/trainer.png', alt='login', style='')
                div.card#c3
                     h2 High Fitness Regime
                     img(src='/static/images/fitness.png', alt='login', style='')
        section#sponsersection 
            h1 Our Sponsors
            div.img
                img(src='/static/images/clients1.png', alt='login', style='')
                img(src='/static/images/clients2.png', alt='login', style='')
                img(src='/static/images/clients3.png', alt='login', style='')
                img(src='/static/images/clients4.png', alt='login', style='')